*.swp
*.swo
*.swn
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

*.class
*.jar
/target/
.gradle/
out/
build/

.idea/
*.iml
*.ipr
*.iws

.idea/libraries/
.idea_modules/
*.orig

*.log
*.log.*

.idea/misc.xml
.idea/modules.xml

/.mvn/
